<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container bg-body-tertiary mt-3">
        <div class="row justify-content-center gap-3 align-content-center">
            <div class="col-4">
                <form method="get">
                    <fieldset  class="border px-2 py-3 bg-body-secondary w-100 border-1 border-secondary my-4 text-center rounded-3">
                        <legend>Consulta de CPF</legend>
                    
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">CPF:</span>
                            <input type="text" id="cpf" class="form-control" placeholder="000.000.00-00" aria-describedby="basic-addon1">
                          </div>
                        <button type="button" class="btn btn-primary ms-1 mb-2" onclick="buscaCliente()" style="vertical-align: baseline;">Buscar</button>
                          <br>
                        <span id="msg-consulta"></span><!--resultado da pesquisa-->

                        <hr>
                        
                        <legend>Dados do Cliente</legend>
                        <div class="text-start">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nome:</span>
                            <span class="form-control" id="nome" aria-describedby="basic-addon1"></span>
                          </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nascimento:</span>
                            <span class="form-control" id="nasc" aria-describedby="basic-addon1"></span>
                          </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email:</span>
                            <span class="form-control" id="email" aria-describedby="basic-addon1"></span>
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            
            <div class="col-4">
                <form>
                    <fieldset  class="border px-2 pt-3 bg-body-secondary w-100 border-1 border-secondary my-4  rounded-3 text-center">
                        <legend>Cadastro de Clientes</legend>              
                        <span class="d-block my-3 ms-1 fw-medium">Entre com seus dados:</span> 
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">CPF:</span>
                            <input placeholder="000.000.000-00" type="text" class="form-control" id="cpf-c" name="cpf-c" aria-describedby="basic-addon1"></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nome:</span>
                            <input placeholder="Nome" type="text" class="form-control" id="nome-c" name="nome-c" aria-describedby="basic-addon1"></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nascimento:</span>
                            <input placeholder="dd/mm/aaaa" type="date" class="form-control" id="nasc-c" name="nasc-c" aria-describedby="basic-addon1"></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email:</span>
                            <input placeholder="E-mail" type="email" class="form-control" id="email-c" name="email-c" aria-describedby="basic-addon1"></span>
                        </div>
                        <button type="button" onclick="cadastrar_cliente()" class="btn btn-primary my-3">Cadastrar</button>
                            <br>
                          <span id="msg-cadastro" style="margin-bottom: 10px;"></span><!--resultado do cadastro-->
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>